@model Studion.ViewModels.NotesDisplayViewModel

<div class="row">
    <!--Average rating-->
    <div class="col-md-4">
        <button class="btn btn-primary center-block">Average rating</button>

        <div class="row col-md-offset-2">
            <input type="number" class="rating" min="0" max="5" data-size="xs" step="0.1" value="@Model.Note.GetAvRating()" readonly />
        </div>
    </div>

    <!--Download button-->
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Download", "Notes", new { NoteID = Model.Note.NoteID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <button type="submit" class="btn btn-primary center-block btn-lg">Download</button>
            }
        }

        else
        {
            <a class="btn btn-primary center-block btn-lg" href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath})">Log in to Download</a>
        }
    </div>
    

    <!--Your rating-->
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Save", "Rating", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(n => n.Note.NoteID)

                <button type="submit" class="btn btn-primary center-block">Submit your rating</button>

                <div class="form-group row col-md-offset-2">
                    @Html.TextBoxFor(n => n.Rating, new
               {
                   type = "number",
                   @class = "rating",
                   min = 0,
                   max = 5,
                   step = 1,
                   @data_size = "xs",
               })
                </div>
            }
        }
        else
        {
            <a class="btn btn-primary center-block" href="@Url.Action("Login", "Account")">Log in to rate</a>
            <div class="row col-md-offset-2">
                <input type="number" class="rating" min="0" max="5" step="1" data-size="xs" disabled />
            </div>
        }
    </div>
</div>