@model Studion.ViewModels.NotesDisplayViewModel

<div class="row">
    <!--Average rating-->
    <div class="col-md-4">
        <button class="btn btn-primary center-block" disabled>Average rating</button>

        <div class="row col-md-offset-1">
            <input id="display-rating" value="@Model.Note.GetAvRating()" />
        </div>
    </div>

    <!--Download button-->
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Download", "Notes", new { NoteID = Model.Note.NoteID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <button type="submit" class="btn btn-primary center-block btn-lg">Download</button>
            }
        }

        else
        {
            <form action="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath})">
                <button class="btn btn-primary center-block btn-lg">Log in to download</button>
            </form>
        }
    </div>


    <!--Your rating-->
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Save", "Rating", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(n => n.Note.NoteID)

                <button type="submit" class="btn btn-primary center-block">Submit your rating</button>

                <div class="form-group row col-md-offset-1">
                    @Html.TextBoxFor(n => n.Rating, new
               {
                   id = "user-rating"
               })
                </div>
            }
        }
        else
        {
            <form action="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath})">
                <button class="btn btn-primary center-block btn-lg">Log in to rate</button>
            </form>

            <div class="row col-md-offset-1">
                <input id="user-rating" />
            </div>
        }
    </div>
</div>

<script>
    $('#display-rating').rating({
        displayOnly: true,
        min: '0',
        max: '5',
        value: '@Model.Note.GetAvRating()'
    });

    $('#user-rating').rating({
        min: '0',
        max: '5',
        step: '1',
        showCaption: false,
        showClear: false
    });
</script>
