@model Studion.ViewModels.NotesDisplayViewModel

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">


    <h2>@Model.Note.Title</h2>
    <div class="row">
        <table class="table">
            <tr>
                <th>Author</th>
                <th>Subject</th>
                <th>Level</th>
                <th>Exam Board</th>
                <th>Uploaded</th>
                <th>Downloads</th>
                <th>Rating</th>
            </tr>
            <tr>
                <td>@Html.ActionLink(Model.Note.author.UserName, "ProfilePage", "Users", new { UserID = Model.Note.author.Id }, null)</td>
                <td>@Model.Note.subject.SubjectName</td>
                <td>@Model.Note.level.LevelName</td>
                <td>@Model.Note.examBoard.ExamBoardName</td>
                <td>@Model.Note.UploadTime.ToShortDateString()</td>
                <td>@Model.Note.Downloads</td>
                <td>@Model.Note.GetAvRating()</td>
            </tr>
        </table>
    </div>
    @{
        //ratings
        @Html.Partial("~/Views/Rating/_RatingPartial.cshtml");
    }    
</div>



@{
    //document viewer
    @Html.Partial("~/Views/Notes/_DocumentViewerPartial.cshtml", Model.Note.NoteID);

    //comment list
    @Html.Partial("~/Views/Comment/_CommentPartial.cshtml", Model.Note.comments);

    //submit comment
    @Html.Partial("~/Views/Comment/_CommentFormPartial.cshtml", Model);
}
