@model Studion.Models.Note

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<p>Author: @Html.ActionLink(Model.author.UserName, "ProfilePage", "Users", new { UserID = Model.author.Id }, null)</p>
<p>Subject: @Model.subject.SubjectName</p>
<p>Level: @Model.level.LevelName</p>
<p>Exam Board: @Model.examBoard.ExamBoardName</p>
<p>Rating: @Model.GetAvRating()</p>

@{ 
    string documentPath = "~/Documents/" + Model.NoteID + ".pdf";
}

@Html.Partial("_DocumentViewerPartial", documentPath)

<ul>
    @if (Model.comments.Count == 0)
    {
        <li>
            <p>No Comments Made</p>
        </li>
    }
    else
    {
        foreach (var comment in Model.comments)
        {
            @Html.Partial("_CommentPartial", comment)
        }
    }
</ul>

<form>
    <div class="form-group">
        <label for="commentMessage">Write Comment</label>
        <input type="text" id="commentMessage" />
    </div>
    <div class="form-group">
        <input type="submit"/>
    </div>
</form>
