@model Studion.ViewModels.NotesDisplayViewModel

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Note.Title</h2>
<p>Author: @Html.ActionLink(Model.Note.author.UserName, "ProfilePage", "Users", new { UserID = Model.Note.author.Id }, null)</p>
<p>Subject: @Model.Note.subject.SubjectName</p>
<p>Level: @Model.Note.level.LevelName</p>
<p>Exam Board: @Model.Note.examBoard.ExamBoardName</p>
<p>Rating: @Model.Note.GetAvRating()</p>

<p>Your Rating: @Html.Partial("~/Views/Shared/_RatingPartial.cshtml")</p>

@{ 
    string documentPath = "~/Documents/" + Model.Note.NoteID + ".pdf";
}

@Html.Partial("_DocumentViewerPartial", documentPath)

<ul>
    @if (Model.Note.comments.Count == 0)
    {
        <li>
            <p>No Comments Made</p>
        </li>
    }
    else
    {
        foreach (var comment in Model.Note.comments)
        {
            @Html.Partial("_CommentPartial", comment)
        }
    }
</ul>

@using (Html.BeginForm("Save", "Comment", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    //TODO : get passing of Note object working
    @Html.HiddenFor(n => n.Note.NoteID)

    <div class="form-group">
        @Html.LabelFor(n => n.CommentMessage)
        @Html.TextBoxFor(n => n.CommentMessage, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Write Comment</button>
}
