@model Studion.ViewModels.NotesSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Finalised-->
<h2>Search available notes</h2>


@using (Html.BeginForm("Search", "Notes", null, FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(n => n.SubjectID)
            @Html.DropDownListFor(n => n.SubjectID, new SelectList(Model.SubjectList, "SubjectID", "SubjectName"), "--Select Subject--", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(n => n.LevelID)
            @Html.DropDownListFor(n => n.LevelID, new SelectList(Model.LevelList, "LevelID", "LevelName"), "--Select Level--", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(n => n.ExamBoardID)
            @Html.DropDownListFor(n => n.ExamBoardID, new SelectList(Model.ExamBoardList, "ExamBoardID", "ExamBoardName"), "--Select Board / University--", new { @class = "form-control" })
        </div>
    </div>
    
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg center-block">Search</button>
    </div>
}

<button id="form-submit" type="submit" class="btn btn-primary btn-lg center-block">Submit Search</button>

<hr />

<!--Display available notes-->

<div class="row">
    <table id="noteTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Subject</th>
                <th>Level</th>
                <th>Exam Board</th>
                <th>Uploaded</th>
                <th>Downloads</th>
                <th>Av. Rating</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#noteTable").DataTable();

            $("#form-submit").on("click", function () {
                $("#noteTable").DataTable({
                    ajax: {
                        url: "/api/notes/search",
                        
                        data:{
                            subjectID: ,
                            levelID: ,
                            examBoardID:
                        },

                        dataSrc: ""
                    },

                    columns: [
                        {
                            data: "title",
                            render: function (data, type, note) {
                                return "<a href='/notes/display/" + note.noteID + "'>" + note.Title + "</a>";
                            }
                        },
                        {
                            data: "authorName",
                            render: function (data, type, note) {
                                return "<a href='/users/" + note.authorID + "'>" + note.authorName + "</a>";
                            }
                        },
                        {
                            data: "subjectName"
                        }
                    ]
                });
            });
        });
    </script>
}



