@model Studion.ViewModels.NoteFormViewModel
@using Studion.Models

@{
    if (Model.Editing == true)
    {
        ViewBag.Title = "Edit";
    }
    else
    {
        ViewBag.Title = "Upload";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Editing == false)
{
    <h2>Upload New Note</h2>
}
else
{
    <h2>Edit Existing Note</h2>
}

@using (Html.BeginForm("Upload", "Notes", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    /*
     * Does not work for lists
    @Html.HiddenFor(m => m.SubjectList);
    @Html.HiddenFor(m => m.LevelList);
    @Html.HiddenFor(m => m.ExamBoardList);
    */

    <div class="form-group">
        @Html.LabelFor(n => n.Title)
        @Html.TextBoxFor(n => n.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.SubjectID)
        @Html.DropDownListFor(n => n.SubjectID, new SelectList(Model.SubjectList, "SubjectID", "SubjectName"), "--Select Subject--", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.SubjectID)
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.LevelID)
        @Html.DropDownListFor(n => n.LevelID, new SelectList(Model.LevelList, "LevelID", "LevelName"), "--Select Level--", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.LevelID)
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ExamBoardID)
        @Html.DropDownListFor(n => n.ExamBoardID, new SelectList(Model.ExamBoardList, "ExamBoardID", "ExamBoardName"), "--Select Exam Board--", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ExamBoardID)
    </div>

    <div class="form-group">
        @Html.Label("Upload File", new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            <input type="file" id="UploadFile" name="upload" required/>
        </div>
    </div>
    <hr />

    <button type="submit" class="btn btn-primary">Save</button>
}
