@model Studion.ViewModels.NotesUploadViewModel
@using Studion.Models

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload New Note</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(n => n.Note.Title)
        @Html.TextBoxFor(n => n.Note.Title, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Note.SubjectID)
        @Html.DropDownList("Subject", Model.SubjectList)
    </div>

    <div class="form-group">
        <label for="fileupload">PDF file (max 20 MB)</label>
        <input id="fileupload" type="file" accept=".pdf"/>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
