<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Studion</title>
    @Styles.Render("~/Content/css")

    <!--Modernizr not required for production
    Scripts.Render("~/bundles/modernizr")
    -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    @Html.Partial("_NavBarPartial")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Studion Group Limited</p>
        </footer>
    </div>  
</body>
</html>
