@model List<Studion.Models.Note>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Level</th>
            <th>Exam Board</th>
            <th>Uploaded</th>
            <th>Downloads</th>
            <th>Av. Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@Html.ActionLink(note.Title, "Display", "Notes", new { NoteID = note.NoteID }, null)</td>
                <td>@Html.ActionLink(note.author.UserName, "ProfilePage", "Users", new { UserID = note.author.Id }, null)</td>
                <td>@note.subject.SubjectName</td>
                <td>@note.level.LevelName</td>
                <td>@note.examBoard.ExamBoardName</td>
                <td>@note.UploadTime.ToShortDateString()</td>
                <td>@note.Downloads</td>
                <td>@(note.GetAvRating()) / 5</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/initialiseDataTable.js"></script>