@model List<Studion.Models.Note>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr>
                    <th data-defaultsign="AZ">Title</th>
                    <th data-defaultsort="disabled">Author</th>
                    <th data-defaultsign="AZ">Subject</th>
                    <th data-defaultsign="AZ">Level</th>
                    <th data-defaultsign="AZ">Exam Board</th>
                    <th data-defaultsign="month">Uploaded</th>
                    <th data-firstsort="desc">Downloads</th>
                    <th data-firstsort="desc">Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(note.Title, "Display", "Notes", new { NoteID = note.NoteID }, null)</td>
                        <td>@Html.ActionLink(note.author.UserName, "ProfilePage", "Users", new { UserID = note.author.Id }, null)</td>
                        <td>@note.subject.SubjectName</td>
                        <td>@note.level.LevelName</td>
                        <td>@note.examBoard.ExamBoardName</td>
                        <td>@note.UploadTime.ToShortDateString()</td>
                        <td>@note.Downloads</td>
                        <td>@note.GetAvRating()</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
