@model Studion.ViewModels.NotesDisplayViewModel


@using (Html.BeginForm("Save", "Comment", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n => n.Note.NoteID)

    <div class="form-group">
        @Html.LabelFor(n => n.CommentMessage)
        @Html.TextBoxFor(n => n.CommentMessage, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.CommentMessage)
    </div>

    <button type="submit" class="btn btn-primary">Write Comment</button>
}